 
 <!--  footer --> 
 <footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-md-6 offset-md-3">
                <ul class="sociel">
                    <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
             </div>
       </div>
       <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
             <div class="contact">
                <h3>contact us</h3>
                <span>6 Railway Street, Balbriggan, County Dublin. Ireland</span>
             </div>
          </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
             <div class="contact">
                <h3>ADDITIONAL LINKS</h3>
                <ul class="lik">
                    <li> <a href="/about">About us</a></li>
                    <li> <a href="/terms">Terms and conditions</a></li>
                    <li> <a href="/terms">Privacy policy</a></li>
                    <li> <a href="/onosco-blog">News</a></li>
                     <li> <a href="/contact">Contact us</a></li>
                     <li> <a href="/#">Back to Top</a></li>
                </ul>
             </div>
          </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
             <div class="contact">
                <h3>service</h3>
                 <ul class="lik">
               <li> <a href="#">Psychotherapy</a></li>
                    <li> <a href="/services">Family System Therapy</a></li>
                    <li> <a href="/services">Solution Focus Therapy</a></li>
                    <li> <a href="/services">Person Centred Therapy (PCT)</a></li>
                    <li> <a href="/services">Cognitive Behavioural Therapy (CBT)</a></li>
                    <li> <a href="/services">Psychodynamic Therapy</a></li>
                    <li> <a href="/services">Couples Therapy</a></li>
                     <li> <a href="/services">Group Therapy</a></li>
                     <li> <a href="/services">Individual Therapy</a></li>
             </div>
          </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
             <div class="contact">
                <h3>onosco psychotherapy services</h3>
                <span>We are here to provide solutions to all your medical
                     issues that deal with psychotherapy try us today 
                     and give testimony</span>
             </div>
          </div>
       </div>
    </div>
       <div class="copyright">
          <p>Copyright 2024 All Right Reserved By <a href="/">Onosco Psychotherapy Services</a> Website developed By <a href="/socialhandle">Vicotech</a></p>
       </div>
    
 </div>
 </footer> 
 

  

  
 <!-- end footer -->