 
  <div class="service">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <div class="title">
                <h2>Service <strong class="black">Process</strong></h2>
                <span>Easy and effective way to enjoy our psychotherapy services</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="icon/service1.png"/></i>
                <h3>Fast service</h3>
                <p>We prioritize your well-being by offering prompt scheduling and efficient sessions, so you can start feeling better sooner</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="icon/service2.png"/></i>
                <h3>Secure payments</h3>
                <p> We prioritize your peace of mind by utilizing industry-standard encryption and security measures to protect your sensitive information</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="icon/service3.png"/></i>
                <h3>Expert team</h3>
                <p> Our therapists are not just practitioners; they're compassionate experts dedicated to guiding you through your mental health journey with skills, empathy, and understanding</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="icon/service4.png"/></i>
                <h3>Affordable services</h3>
                <p>Discover high-quality psychotherapy services without breaking the bank with our affordable options </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="icon/service5.png"/></i>
                <h3>Patronage bonus</h3>
                <p>As a token of our appreciation for your loyalty and trust, we offer exclusive patronage bonuses to our valued clients</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="icon/service6.png"/></i>
                <h3>Award winning</h3>
                <p>Step into excellence with our award-winning psychotherapy services. We take pride in our recognition for outstanding contributions to the field of mental health</p>
             </div>
          </div>
       </div>
    </div>
 </div>