 
  
  
      <div class="whyschose">
        <div class="container">

           <div class="row">
              <div class="col-md-7 offset-md-3">
                 <div class="title">
                    <h2>Why <strong class="black">choose us</strong></h2>
                    <span>Reliable medical services</span>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="choose_bg">
        <div class="container">
           <div class="white_bg">
           <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="for_box">
                    <i><img src="/images/why1.png"/></i>
                    <h3>Tailored Approach</h3>
                    <p>Our psychotherapy services offer a personalized approach, tailored to your unique needs and circumstances.</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="for_box">
                    <i><img src="/images/why2.png"/></i>
                    <h3>Expert Guidance</h3>
                    <p>Receive expert guidance from highly qualified and experienced therapists who specialize in various therapeutic techniques.</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="for_box">
                    <i><img src="/images/why3.png"/></i>
                    <h3>Empathetic Support</h3>
                    <p> Our therapists provide a compassionate and non-judgmental space where you can explore your thoughts, feelings, and experiences without fear of criticism.</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                 <div class="for_box">
                    <i><img src="/images/why4.png"/></i>
                    <h3>Holistic Wellness</h3>
                    <p>Our holistic approach focuses on promoting overall well-being, addressing not only your symptoms but also the underlying factors contributing to your distress.</p>
                 </div>
              </div>
              <div class="col-md-12">
                 <a href='/services' class="read-more">Book an appointment</a>
              </div>
           </div>
        </div>
      </div>
     </div>