

 


<!DOCTYPE html>
<html>
    <head>
         <%- include('../partials/head.ejs') %> 
         <%- include('../partials/header.ejs') %>  
         <title>Admin login</title>
    </head>

     <body>   
          <%- include('../partials/fadminlogin.ejs') %> 
     </body>
</html>  